---
layout: default
---
<nav class="main-nav tone-dark">
  <ul>
    <li><a href="/">Home</a></li>

    <li class="dropdown">
      <a href="#">Events</a>
      <ul class="dropdown-content">
 <!--       <li><a href="/events/pwnedcon2025">Pwn3d!Con</a></li> -->
        <li><a href="/events/bugcon2025">Bugcon 2025</a></li>
      </ul>
    </li>
 <!--
    <li><a href="/resources">Resources</a></li>

    <li class="dropdown"><a href="#">Hardware</a></li>

    <li><a href="/blog">Blog</a></li>

    <li class="dropdown">
      <a href="#">Get Involved</a>
      <ul class="dropdown-content">
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </li>

    <li class="search-icon">
      <a href="/search"><i class="fa fa-search"></i></a>
    </li>
  </ul>
 -->
</nav>

<section class="tone-dark header">
</section>
  <section style="text-align: left;">
    <div>
    <h2>¿Qué es La Meche de los Payments?</h2>
    <p>
      Las tecnologías de pago impulsan el mundo moderno, pero su seguridad sigue siendo un terreno poco explorado, especialmente en el ámbito hispanohablante.
      <strong>La Meche de los Payments</strong> nace como un espacio para aprender, compartir y fortalecer el conocimiento sobre la seguridad en sistemas de pago, terminales PoS, tarjetas con chip y transacciones digitales.
  </p>
  </section>
<section style="text-align: left;">
  <h2>Nuestros objetivos:</h2>
  <div>
    <p>
      <ul>
        <li>Formar a la nueva generación de especialistas en seguridad de pagos en la comunidad hispana.</li>
        <li>Brindar experiencias prácticas y accesibles en eventos de tecnología y hacking.</li>
        <li>Promover la investigación en tecnologías de pago con enfoque técnico y aplicado.</li>
        <li>Construir una comunidad abierta de habla hispana, donde el conocimiento fluya sin barreras.</li>
      </ul>
    </p>
  </div>
  </section>
  <section style="text-align: left;">
    <div>
      <h2>¿Dónde puedes encontrarnos?</h2>
      <p>
        Estaremos de forma presencial en eventos que se van a realizar en Guatemala, Colombia, Argentina y Mexico. Estaremos
        brindando mas informacion proximamente en la seccion de eventos.
      </p>
    </div>
</section>
<section>
      <div class="item-large">
        <h2>I have another question...</h2>
        <p>Contact us on <a href="https://www.linkedin.com/in/stuxnet/"
                            rel="noreferrer">linkedin</a>,
          {% if site.data.info.twitter %}
            on <a href="https://x.com/__stux"
                  rel="noreferrer">X</a>.
          {% endif %}
        </p>
    </div>
</section>
<section class="tone-dark">
  <h1>Staff</h1>
  <div class="items-container">
    {% for person in site.data.organizers.people %}
      <div class="item-small">
        <a class="person-link"
           href="{{ person.link }}"
           rel="noreferrer">
            <div class="person-container">
              <img class="person-image"
                   src="images/people/{{ person.first }}.jpg"
                   alt="Picture of {{ person.first }}">
              <div class="person-info">
                <span class="person-first">{{ person.first }}</span>
                <br>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <p>
    Website template made with love by <a href="https://lauzhack.com">LauzHack</a>.
  </p>
</section>
